name: "Nikurasu"                                # The name on the linktree
# summaryText: 'A simple sample text'           # A short summary for what you do, will appear under the name if uncommened
# profilePic:                                   # uncomment and set this if your profile pic has a custom name
roundPB: false
theme: '98'
links:
  - text: "YouTube"                             # text on the link
    hyperlink: "Test"                           # the actual hyperlink
    brandcolor: "youtube"                       # set this if you want to set the color of the link to the brand color of a platform...
    color: "#0D0D0D"                            # or that if you want to set it to an exact color
  - text: "Twitter"
    verify: "Mastodon"
    hyperlink: "test"
    brandcolor: "twitter"
smallLinks:
  - platform: "twitter"
    hyperlink: "https://twitter.com"
  - platform: "facebook"
    hyperlink: "https://facebook.com"
  - platform: "youtube"
    hyperlink: "https://youtu.be"
